//@import "variables";
//@import "utils.scss"; // import with file extension, so that webpack does not accidentally import utils.js!

div[style] > .components-placeholder {
  width: inherit;
  height: inherit;
  min-height: 0;
}

.edit-post-visual-editor {
  //@import "button"; // Nesting for higher specificity to override WordPress default styles.
}